export KUBECONFIG=~/.kube/config
export KUBECONFIG=$KUBECONFIG:~/dev/bossjones/kubernetes-cluster/vagrant-admin.conf

# Load environment variables that inform Ansible to use ARA regardless
# of its location or python version
source <(python -m ara.setup.env)

