Host k8s-head*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile ./keys/id_rsa
  IdentitiesOnly yes
  LogLevel FATAL

Host k8s-node-1*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile ./keys/id_rsa
  IdentitiesOnly yes
  LogLevel FATAL

Host k8s-node-2*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile ./keys/id_rsa
  IdentitiesOnly yes
  LogLevel FATAL

# Host bosslab-worker-02*
#   User vagrant
#   Port 22
#   UserKnownHostsFile /dev/null
#   StrictHostKeyChecking no
#   PasswordAuthentication no
#   IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/bosslab-worker-02/virtualbox/private_key
#   IdentitiesOnly yes
#   LogLevel FATAL
